<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Cash Money Inc.</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            <form name="loginform" class="form" novalidate>

                <br><h4><strong>Edit your CashMoneyAccount!</strong></h4><br>

                <div class="form-group" ng-class="{'has-error': loginform.firstname.$invalid && loginform.firstname.$touched}">
                    <label for="firstname">Förnamn</label><br>
                    <input class="form-control" type="text" id="firstname" name="firstname" ng-model="firstName" required><br>
                </div>

                <div class="form-group" ng-class="{'has-error': loginform.lastname.$invalid && loginform.lastname.$touched}">
                    <label for="lastname">Efternamn</label><br>
                    <input class="form-control" type="text" id="lastname" name="lastname" ng-model="lastName" required><br>
                </div>

                <div class="form-group" ng-class="{'has-error': loginform.email.$invalid && loginform.email.$touched}">
                    <label for="email">E-post</label><br>
                    <input class="form-control" type="email" id="email" name="email" ng-model="email" required><br>
                </div>

                <div class="form-group" ng-class="{'has-error': loginform.phone.$invalid && loginform.phone.$touched}">
                    <label for="phone">Telefon</label><br>
                    <input class="form-control" type="text" id="phone" name="phone" ng-model="phone" required><br>
                </div>

                <div class="form-group" ng-class="{'has-error': loginform.password.$invalid && loginform.password.$touched}">
                    <label for="password">Lösenord</label><br>
                    <input class="form-control" type="password" id="password" name="password" ng-model="password" required><br>
                </div>

                <div class="form-group" ng-class="{'has-error': loginform.address.$invalid && loginform.address.$touched}">
                    <label for="address">Address</label><br>
                    <input class="form-control" type="text" id="address" name="address" ng-model="address" required><br>
                </div>

                <div class="form-group" ng-class="{'has-error': loginform.postalCode.$invalid && loginform.postalCode.$touched}">
                    <label for="postalCode">Postnummer</label><br>
                    <input class="form-control" type="text" id="postalCode" name="postalCode" ng-model="postalCode" required><br>
                </div>

                <div class="form-group" ng-class="{'has-error': loginform.city.$invalid && loginform.city.$touched}">
                    <label for="city">Stad</label><br>
                    <input class="form-control" type="text" id="city" name="city" ng-model="city" required><br>
                </div>

                <a ng-disabled="loginform.$invalid" class="btn btn-info" role="button" ng-click="update()">Submit</a>
                <a class="btn btn-info" href="/login">Cancel</a>

            </form>
        </div>
    </div>
</div>